* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family: Tahoma, Arial, sans-serif;

    direction: rtl;

    background: #ffffff;

    color: #333;

    line-height: 1.9;

}



.header {

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;

    background:#ffffff;

    box-shadow:0 3px 15px rgba(0,0,0,0.08);

    position:sticky;

    top:0;

    z-index:100;

}



.logo {

    font-size:24px;

    font-weight:bold;

    color:#b8860b;

}



.menu a {

    text-decoration:none;

    color:#333;

    margin-right:18px;

    transition:.3s;

}



.menu a:hover {

    color:#b8860b;

}




.hero {

    min-height:520px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:50px 10%;

    background:linear-gradient(135deg,#fff7d6,#ffffff);

}



.hero h1 {

    font-size:42px;

    color:#8b6508;

    margin-bottom:20px;

}



.hero p {

    font-size:20px;

    max-width:750px;

}




button {

    margin-top:25px;

    background:#b8860b;

    color:white;

    border:none;

    padding:14px 35px;

    border-radius:8px;

    cursor:pointer;

}



button:hover {

    background:#8b6508;

}




section {

    padding:70px 10%;

}



section h2 {

    text-align:center;

    font-size:32px;

    color:#8b6508;

    margin-bottom:40px;

}




.product-container {

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:25px;

}





.product-card {

    background:#fff;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    text-align:center;

    transition:.3s;

}



.product-card:hover {

    transform:translateY(-8px);

}



.product-card h3 {

    color:#b8860b;

    margin-bottom:15px;

}





.about p {

    max-width:950px;

    margin:auto;

    text-align:center;

    font-size:18px;

}





.advantages {

    background:#fafafa;

}





.articles {

    background:#ffffff;

}




.branches {

    background:#fafafa;

}



.branch-card {

    background:white;

    padding:25px;

    margin-bottom:25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}



.branch-card h3 {

    color:#b8860b;

    margin-bottom:10px;

}




.contact {

    text-align:center;

}



.footer {

    background:#333;

    color:white;

    text-align:center;

    padding:25px;

}





@media(max-width:768px){


.header {

    flex-direction:column;

}



.menu {

    margin-top:20px;

}



.menu a {

    display:inline-block;

    margin:5px;

}



.hero h1 {

    font-size:30px;

}


}
